<main class="page-content">
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>

        <div class="row">
            <div class="col-xl-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        카메라 화면
                    </div>
                    <div class="card-body"><img src="" id="cameraImage"></div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        AI 인식 화면
                    </div>
                    <div class="card-body"><img src="" id="aiImage"></div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>

<script>
    var currentStatus = "0";
    var connection = new signalR.HubConnectionBuilder().withUrl("/imghub").build();
    connection.on("ReceiveMessage", function (message) {
        console.log(message);
        document.getElementById("cameraImage").src = "data:image/jpeg;base64," + message;
    });
    console.log("ReceiveMessage");

    connection.start().then(function () {
        console.log("연결 성공");
    }).catch(function (err) {
        console.log("연결 실패 : " + err.toString());
    });

</script>
