@{
    ViewData["Title"] = "Home Page";
}

@* java script 형식 *@
<div class="container">
    사용자 : <input type="text" id="user">
    메세지 : <input type="text" id="message">
    <button id="send">보내기</button>
    <div class="row">
        <ul id="messageList"></ul>
    </div>
</div>


@* 공식홈페이지 CND서버 코드 *@
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>

@* 메세지 보내기 *@
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/iothub").build();

    connection.on("ReceiveMessage", function (user, message) {
        var li = document.createElement("li");
        document.getElementById("messageList").appendChild(li);
        li.textContent = user + " : " + message;
    });

    connection.start().then(function() {
        console.log("연결 성공");
    }).catch(function (err) {
        console.log("연결 실패 : " + err.toString());
    });

    document.getElementById('send').addEventListener('click', function(event) {
        var user = document.getElementById('user').value;
        var message = document.getElementById('message').value;
        connection.invoke("SendMessage", user, message).catch(function (err) {
            console.log("전송 실패 : " + err.toString());
        });
        event.preventDefault();
    });
</script>