<!--start content-->
<main class="page-content">

    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="mb-0">사원 정보</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">사원 상세 정보</h6>
                        </div>
                        <div class="card-body">
                            <form class="row g-3">
                                <div class="profile-avatar text-center">
                                    <img src="assets/images/avatars/avatar-1.png" class="rounded-circle shadow" width="120" height="120" alt="">
                                </div>
                                <div class="col-6">
                                    <label class="form-label">직책</label>
                                    <input type="text" class="form-control" value="Manager">
                                </div>
                                <div class="col-6">
                                    <label class="form-label">부서</label>
                                    <input type="text" class="form-control" value="">
                                </div>
                                <div class="col-6">
                                    <label class="form-label">성</label>
                                    <input type="text" class="form-control" value="Lee">
                                </div>
                                <div class="col-6">
                                    <label class="form-label">이름</label>
                                    <input type="text" class="form-control" value="Yunjung">
                                </div>
                                <div class="col-12">
                                    <label class="form-label">이메일</label>
                                    <input type="text" class="form-control" value="aaa@toyfactory.com">
                                </div>
                                <div class="col-12">
                                    <label class="form-label">핸드폰</label>
                                    <input type="text" class="form-control" value="010-3333-3333">
                                </div>
                               
                                <div class="col-12">
                                    <label class="form-label">비고</label>
                                    <textarea class="form-control" rows="4" cols="4"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    <div class="text-center">
                        <button type="button" class="btn btn-primary px-4">사원 정보 수정</button>
                    </div>
                </div>
            </div>
        </div>
     </div><!--end row-->

</main>
<!--end page main-->